include layout

block content
            //Creating a header for all of my pages
            h1 About Tyler!
            h3 Hello, My name is Tyler, I am a 21 year old programmer (Soon to be 22, as of next week)
            h3 My languages include (but not limited to) HTML, CSS, JavaScript, SQL, PHP, Java and some Python.

            h2 <a href="./home">Home </>
            h2 <a href="./aboutme">About Me </>
            h2 <a href="./projectspage">Projects Made</>
            h2 <a href="./services">Services </>
            h2 <a href="./contactme">Contact Me </> 