include layout

block content
            //Creating a header for all of my pages
            h1 Contact Me!

            h3 My email is Tyler.Lindley@MyGeorgian.ca
            h3 email me if you have any requests!
            h2 <a href="./home">Home </>
            h2 <a href="./aboutme">About Me </>
            h2 <a href="./projectspage">Projects Made</>
            h2 <a href="./services">Services </>
            h2 <a href="./contactme">Contact Me </> 