include layout

block content
            //Creating a header for all of my pages
            h1 Welcome to the wonderful website of Tyler Lindley, made with Node.JS

            h2 <a href="./home">Home </>
            h2 <a href="./aboutme">About Me </>
            h2 <a href="./projectspage">Projects Made</>
            h2 <a href="./services">Services </>
            h2 <a href="./contactme">Contact Me </> 