include layout

block content
            //Creating a header for all of my pages
            h1 Page of Projects!
            h3 This is my page where I shall put all of my projects (If I had any yet) Stay tuned as this will be updated in the near future
            h2 <a href="./home">Home </>
            h2 <a href="./aboutme">About Me </>
            h2 <a href="./projectspage">Projects Made</>
            h2 <a href="./services">Services </>
            h2 <a href="./contactme">Contact Me </> 
