include layout

block content

            //Creating a header for all of my pages
            h1 Services!
            h3 Welcome to my services page, I wil talk about all the services I can do for you!

            h2 <a href="./home">Home </>
            h2 <a href="./aboutme">About Me </>
            h2 <a href="./projectspage">Projects Made</>
            h2 <a href="./services">Services </>
            h2 <a href="./contactme">Contact Me </> 

